html {
    scroll-behavior: smooth;
}

#home,
#about-me,
#education,
#skills {
    scroll-margin-top: 10vh;
}

body {
    padding: 0;
    margin: 11vh 0 0 0;
    font-family: 'BioRhyme', serif;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    background-image: url("./img/body-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ScrollBar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #C1D3FE;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2d2386;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* End scrollbar */

/* Localization toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C1D3FE;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    background-position: center;
    -webkit-transition: .4s;
    transition: .4s;
    background-image: url("./img/eng-flag.jpg");
    background-size: cover;

}

.slider.mk::before {
    background-image: url("./img/mak-flag.jpg");
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* end localization toggle */

nav {
    background-color: #372C95;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    color: white;
    z-index: 21;
    box-shadow: -2px 5px 14px 0px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: -2px 5px 14px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: -2px 5px 14px 0px rgba(0, 0, 0, 0.37);
}

nav h3 {
    margin-left: 10px;
}

nav div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
    width: 150px;
}


.menu-main li {
    color: white;
    padding: 20px 20px;
    list-style-type: none;
    align-items: center;
}

.menu-main a {
    text-decoration: none;
}

.menu-main li:hover {
    background-color: #362ba1;
    cursor: pointer;

}

.menu-main a:last-child:hover li {
    border-bottom-left-radius: 20px;

}

.menu-main {
    height: fit-content;
    width: 30%;
    margin-top: -100%;
    position: fixed;
    z-index: 20;
    background-color: #4035a3;
    padding-left: 0;
    right: 0%;
    top: 10vh;
    border-bottom-left-radius: 20px;
    transition: ease-in-out .4s;
    box-shadow: -2px 5px 14px 0px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: -2px 5px 14px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: -2px 5px 14px 0px rgba(0, 0, 0, 0.37);
}

.menu-main.active {
    margin-top: 0;
}

.burger-menu {
    font-size: 20px;
    color: white;
}

.burger-menu:hover {
    cursor: pointer;
}

.hero {
    background-image: url("./img/bg.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-size: cover;
    width: 100%;
    height: 85vh;
    margin-top: -1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.breaker {
    background-color: #1B164A;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breaker img {
    width: 100px;
    margin-top: -70px;
}

.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.article-text-section {
    padding: 10vh 21px;
    margin: 0 0 -10vh 0;
    background-color: rgba(0, 0, 0, 0.678);
}

.bg-astro {
    background-image: url("./img/astro.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: -10vh + 100px;
}

.bg-astro-on-ship {
    background-image: url("./img/astroOnShip.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10vh;
    margin-top: 100px;
    margin-bottom: -10vh + 100px;
}

#rocket-pass {
    width: 100%;
    position: absolute;
    z-index: 0;
    overflow-x: hidden;
}

.rider {
    background-image: url("./img/rider.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: -100px;
    transition: 4s;
}

.rider.abs-rider {
    margin-left: 0;
    transform: rotateZ(-40deg) rotatey(180deg);
    position: fixed;
    z-index: -1;
    top: 10vh;
    transition: 2s;
    right: -10%;
}

.mt-10 {
    margin-top: 10vh;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin: 0 20px;
    margin-bottom: 40px;
}

.skills-container .card {
    background-color: #1B164A;
    padding: 20px;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.filler {
    height: 15px;
    border-radius: 10px;
    background-color: #C1D3FE !important;
    overflow: hidden;
}

.filler .fill-color {
    height: 15px;
    width: 0%;
    background-color: #372C95;
    transition: ease-in-out 4s;
}

footer {
    background-color: #372C95;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.darken-bg {
    background-color: rgba(0, 0, 0, 0.534);
}

@media screen and (max-width: 1000px) {

    .menu-main {
        width: 100%;
        border-bottom-right-radius: 20px;
    }

    .menu-main a:last-child:hover li {
        border-bottom-right-radius: 20px;

    }

    .skills-container,
    .article {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .bg-astro,
    .bg-astro-on-ship {
        height: 300px;
        order: 2;
    }
}